<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BuildingUsageDao">

    <resultMap id="result" type="model.BuildingUsage">
        <id property="buildingCode" column="building_code"></id>
        <result property="purposeCode" column="purpose_code"></result>
        <result property="purposeName" column="purpose_name"></result>
        <result property="note" column="note"></result>
    </resultMap>

    <sql id="tablename">
        building_usage
    </sql>

    <sql id="tablecolunm">
       building_code,purpose_code,purpose_name,note
    </sql>

    <sql id="prams">
        #{buildingCode},#{purposeCode},#{purposeName},#{note}
    </sql>

    <insert id="InsertOne">
        INSERT INTO <include refid="tablename"></include>
        (
            <include refid="tablecolunm"></include>
        )
        VALUES
        (
            <include refid="prams"></include>
        )
    </insert>

    <update id="UpdateOne">
        UPDATE <include refid="tablename"></include> SET
        purpose_code=#{purposeCode},purpose_name=#{purposeName},note=#{note}
        WHERE building_code=#{buildingusage}
    </update>

    <delete id="DeleteOne">
       DELETE FROM <include refid="tablename"></include>
    </delete>

    <select id="SelectOne" resultType="model.BuildingUsage" parameterType="java.lang.String" resultMap="result">
        SELECT * FROM <include refid="tablename"></include> WHERE building_code=#{buildingusage}
    </select>

    <select id="SelectAll" resultType="model.BuildingUsage" resultMap="result">
        SELECT * FROM <include refid="tablename"></include>
    </select>


</mapper>