<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ClientDao">

    <resultMap id="result" type="model.Client">
        <id column="client_code" property="clientCode"></id>
        <result property="clientName" column="client_name"></result>
    </resultMap>

    <sql id="tablename">
        client
    </sql>

    <sql id="tablecolunm">
        client_code,client_name
    </sql>

    <sql id="prams">
       #{clientCode},#{clientName}
    </sql>

    <insert id="InsertOne" parameterType="model.Client">
        INSERT INTO <include refid="tablename"></include>
        (
            <include refid="tablecolunm"></include>
        )
        VALUES (
            <include refid="prams"></include>
        )
    </insert>

    <update id="UpdateOne" parameterType="java.lang.String">
        UPDATE <include refid="tablename"></include> SET
        <if test="clientnewcode!=null">
            client_code=#{clientnewcode}
        </if>
        <if test="clientname!=null">
            client_name=#{clientname}
        </if>
        WHERE client_code=#{clientcode}
    </update>

    <delete id="DeleteOne">
        DELETE FROM <include refid="tablename"></include>   WHERE client_code=#{client} OR client_name=#{client}
    </delete>

    <select id="SelectOne" resultType="model.Client" parameterType="java.lang.String">
        SELECT * FROM <include refid="tablename"></include> WHERE client_code=#{client} OR client_name=#{client}
    </select>

    <select id="SelectAll" resultType="model.Client">
        SELECT * FROM <include refid="tablename"></include>
    </select>


</mapper>